<%- include('../../partials/header.ejs') %>

<link rel="stylesheet" href="/js/vendor/toastify.js/src/toastify.min.css">
<link rel="stylesheet" href="/css/vendor/toastify.css">
<link rel="stylesheet" href="/css/utils/error.css">

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Pedido</h3>
					<ul class="breadcrumb-tree">
						<li><a href="/">Inicio</a></li>
						<li class="active">Procesar pedido</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-7">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Dirección de Envio</h3>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="first-name" placeholder="Nombre">
							<div class="error-text" data-error-for="first-name"></div>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="last-name" placeholder="Apellido">
							<div class="error-text" data-error-for="last-name"></div>
						</div>
						<div class="form-group">
							<input class="input" type="email" name="email" placeholder="ejemplo@gmail.com">
							<div class="error-text" data-error-for="email"></div>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="address" placeholder="Dirección">
							<div class="error-text" data-error-for="address"></div>
						</div>
						<div class="form-group">
							<select class="input" id="city-select" name="shipping-city-id">
								<option value="">Selecciona una ciudad</option>
							</select>
							<div class="error-text" data-error-for="shipping-city-id"></div>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="district" placeholder="Distrito">
							<div class="error-text" data-error-for="district"></div>
						</div>
						<div class="form-group">
							<input class="input" type="tel" name="tel" placeholder="Telefono o celular">
							<div class="error-text" data-error-for="tel"></div>
						</div>
						<div class="form-group">
							<p><small><strong> Nota:</strong> La fecha de entrega será en algún momento dentro de la próxima semana. 
                			La compañía te informará sobre el día exacto de entrega. En caso de que no se realice en ese tiempo, contactenos al +1 (809) 277 2371</small></p>
						</div>						
					</div>
					<!-- /Billing Details -->

					<!-- Shiping Details -->
					<div class="shiping-details">
						<div class="section-title">
							<h3 class="title">Enviar a otra dirección</h3>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="shiping-address">
							<label for="shiping-address">
								<span></span>
								¿Enviar a una dirección diferente?
							</label>
							<div class="caption">
								<div class="form-group">
									<input class="input" type="text" name="alt-first-name" placeholder="Nombre">
									<div class="error-text" data-error-for="alt-first-name"></div>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="alt-last-name" placeholder="Apellido">
									<div class="error-text" data-error-for="alt-last-name"></div>
								</div>
								<div class="form-group">
									<input class="input" type="email" name="alt-email" placeholder="ejemplo@gmail.com">
									<div class="error-text" data-error-for="alt-email"></div>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="alt-address" placeholder="Dirección">
									<div class="error-text" data-error-for="alt-address"></div>
								</div>
								<div class="form-group">
									<select class="input" id="alt-city-select" name="alt-shipping-city-id">
										<option value="">Selecciona una ciudad</option>
									</select>
									<div class="error-text" data-error-for="alt-shipping-city-id"></div>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="alt-district" placeholder="Distrito">
									<div class="error-text" data-error-for="alt-district"></div>
								</div>
								<div class="form-group">
									<input class="input" type="tel" name="alt-tel" placeholder="Telefono o celular">
									<div class="error-text" data-error-for="alt-tel"></div>
								</div>
								<div class="form-group">
									<p><small><strong> Nota:</strong> La fecha de entrega será en algún momento dentro de la próxima semana.
									La compañía te informará sobre el día exacto de entrega. En caso de que no se realice en ese
									tiempo, contactenos al +1 (809) 277 2371</small></p>
								</div>
							</div>
						</div>
					</div>
					<!-- /Shiping Details -->
				</div>

				<!-- Order Details -->
				<div class="col-md-5 order-details">
					<div class="section-title text-center">
						<h3 class="title">Tu Orden</h3>
					</div>
					<div class="order-summary">
						<div class="order-col">
							<div><strong>PRODUCTO(S)</strong></div>
							<div><strong>TOTAL</strong></div>
						</div>
						<div class="order-products">
						</div>
						<div class="order-col">
							<div>ENVÍO</div>
							<div><strong id="shipping-cost"></strong></div>
						</div>
						<div class="order-col">
							<div><strong>TOTAL</strong></div>
							<div><strong class="order-total">$0.00</strong></div>
						</div>
					</div>
					<div class="payment-method">
						<div class="input-radio">
							<input type="radio" name="payment" id="payment-3">
							<label for="payment-3">
								<span></span>
								Paypal o Tarjeta
							</label>
							<div class="caption">
								<p>PayPal garantiza un pago rápido y seguro. Serás redirigido a su plataforma para completar tu compra.</p>
									<div id="paypal-button-container" style="margin-top: 20px;"></div>
							</div>
						</div>
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="terms">
						<label for="terms">
							<span></span>
							He leído y acepto las <a href="/conditions">Políticas y Condiciones</a>
						</label>
					</div>
				</div>
				<!-- /Order Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<%- include('../../partials/footer.ejs') %>

	</body>
	
    <script src="/js/store/order.js" type="module"></script>    
    <script src="https://www.paypal.com/sdk/js?client-id=Adxx8fzjTmAkgRKTLil8ciSgRYaYZxTnJf96IAsdJVAvE8-fW3Rx2hbrDZ5VC662O1So9fgvFOPZd5IG&currency=USD"></script>
    <script src="/js/vendor/toastify.js"></script>
	<script src="https://unpkg.com/feather-icons"></script>

	</html>