<%- include('../../partials/header.ejs') %>

    <!-- Conditions -->
    <link type="text/css" rel="stylesheet" href="/css/store/conditions.css" />

    <h1 class="titulo-principal">Políticas y Condiciones</h1>

    <section class="contenido-terminos">
        <h2 class="subtitulo">01. Introducción</h2>
        <p class="parrafo-conditions">Esta política legal tiene como objetivo informarte sobre las condiciones de uso,
            garantías y otros aspectos legales relacionados con tu experiencia en nuestra tienda de celulares y
            electrodomésticos. Al utilizar este sitio, aceptas cumplir con los términos aquí descritos.</p>

        <h2 class="subtitulo">02. Condiciones de Uso</h2>
        <p class="parrafo-conditions">El uso de este sitio web está destinado exclusivamente para fines legales y
            personales. Se prohíbe el uso fraudulento, la reproducción no autorizada de contenidos, o cualquier
            actividad que dañe la seguridad del sitio o de otros usuarios. Este sitio es únicamente para consulta de
            productos en stock, servicios disponibles y para obtener información sobre nuestra compañía.</p>

        <h2 class="subtitulo">03. Protección de Datos Personales</h2>
        <p class="parrafo-conditions">Nos comprometemos a proteger la privacidad de nuestros clientes. La información
            recopilada solo se usará para mejorar nuestros servicios y enviar comunicaciones relevantes. No
            compartiremos tus datos con terceros sin tu consentimiento previo, salvo cuando sea requerido por ley.</p>

        <h2 class="subtitulo">04. Comunicación Electrónica</h2>
        <p class="parrafo-conditions">
            Al utilizar nuestros servicios o enviarnos correos electrónicos, mensajes de texto u otras comunicaciones
            desde su dispositivo móvil o de escritorio, usted está comunicándose electrónicamente con nosotros.
            Acepta recibir comunicaciones electrónicas por nuestra parte a través de correos electrónicos, mensajes de
            texto, notificaciones automáticas en dispositivos móviles, avisos y mensajes en nuestro sitio web o a través
            de otros medios relacionados con nuestra tienda online.
        </p>
        <p class="parrafo-conditions">
            Usted acepta que todas las notificaciones, acuerdos, declaraciones y demás comunicaciones que le
            proporcionemos de forma electrónica cumplen con los requisitos legales de una comunicación escrita, y se
            considerarán válidas y suficientes para cualquier fin relacionado con el uso de nuestros servicios.
        </p>

        <h2 class="subtitulo"> 05. Licencia y Acceso</h2>
        <p class="parrafo-conditions">
            Al utilizar nuestros servicios, se le otorga una licencia limitada, no exclusiva, no transferible y no
            sublicenciable para acceder a nuestra tienda online y hacer uso personal de ella. Esta licencia está sujeta
            al cumplimiento de nuestros Términos de Uso y el pago de cualquier tarifa correspondiente.
        </p>
        <p class="parrafo-conditions">
            Queda expresamente prohibido el uso comercial de nuestra tienda, la reventa de productos, la recopilación de
            datos, la descarga o copia de información para el beneficio de terceros, y el uso de herramientas
            automáticas para la extracción de datos. Todos los derechos no otorgados expresamente en estos términos
            quedan reservados por nosotros y nuestros proveedores.
        </p>
        <p class="parrafo-conditions">
            El uso indebido de los servicios de nuestra tienda puede dar lugar a la terminación de las licencias
            otorgadas. Cualquier uso fuera de los permisos establecidos en estos términos será considerado una
            infracción.
        </p>

        <h2 class="subtitulo">06. Marcas Registradas</h2>
        <p class="parrafo-conditions">En este sitio, se incluyen marcas comerciales, logotipos y otros elementos
            visuales relacionados con nuestra tienda o servicios. Las marcas de nuestra tienda, así como los gráficos,
            logotipos, iconos y nombres de nuestros servicios, están protegidos por derechos de propiedad intelectual y
            no pueden ser utilizados de forma que pueda generar confusión o afectar negativamente nuestra imagen. No
            permitimos que estos elementos sean utilizados en relación con productos o servicios de terceros de manera
            que puedan causar confusión entre los usuarios.</p>

        <p class="parrafo-conditions">Además, cualquier otra marca que no pertenezca a nuestra tienda y que aparezca en
            el sitio web es propiedad de sus respectivos titulares. Dichas marcas pueden o no estar asociadas con
            nosotros.</p>

        <h2 class="subtitulo">07. Tu Cuenta</h2>
        <p class="parrafo-conditions">Para utilizar algunos de nuestros servicios, es posible que necesites crear una
            cuenta en nuestra tienda y asociar un método de pago válido. Si surge algún problema con tu método de pago,
            comunicate directamente con nosotros para aplicar el cargo a cualquier otro método asociado a tu cuenta. Es
            tu responsabilidad mantener la confidencialidad de tu cuenta y contraseña, y garantizar que el acceso a tu
            cuenta esté restringido. Eres responsable de todas las actividades realizadas a través de tu cuenta.</p>

        <p class="parrafo-conditions">Los servicios de nuestra tienda están destinados a adultos, pero pueden ser
            utilizados por menores de edad bajo la supervisión de un padre o tutor. Si eres menor de 18 años, puedes
            usar nuestros servicios solo con la supervisión adecuada de un adulto. Los padres y tutores pueden crear
            perfiles para adolescentes en su cuenta familiar. Asimismo, ciertos productos, como bebidas alcohólicas,
            solo pueden ser adquiridos por personas mayores de 21 años.</p>

        <p class="parrafo-conditions">Nos reservamos el derecho de denegar servicios, cerrar cuentas, cancelar el acceso
            a nuestros servicios, eliminar o editar contenido o cancelar pedidos a nuestra entera discreción.</p>

        <h2 class="subtitulo">08. Propiedad Intelectual</h2>
        <p class="parrafo-conditions">Todo el contenido del sitio, incluyendo textos, imágenes, logotipos y diseños,
            está protegido por leyes de propiedad intelectual. Se prohíbe la reproducción, distribución o modificación
            del contenido sin autorización previa.</p>

        <h2 class="subtitulo">09. Comentarios</h2>

        <p class="parrafo-conditions">Puedes publicar opiniones y calificaciones de productos en nuestro sitio, siempre
            que el contenido sea respetuoso, no ofensivo, no difamatorio, no amenazante, y no invada la privacidad de
            otros ni infrinja derechos de propiedad intelectual. Solo se permite comentar y calificar productos. No está
            permitido utilizar direcciones de correo falsas, suplantar identidades o engañar sobre el origen del
            contenido.</p>

        <p class="parrafo-conditions">Aunque no supervisamos todo el contenido publicado, nos reservamos el derecho, sin
            obligación, de eliminar o editar cualquier publicación que consideremos inapropiada o que no cumpla con
            nuestras políticas.</p>

        <p class="parrafo-conditions">Al enviar contenido, nos concedes un derecho no exclusivo, gratuito y global para
            usar, reproducir, modificar, adaptar, publicar y mostrar dicho contenido en cualquier medio. También nos
            otorgas el derecho de utilizar el nombre que hayas proporcionado junto a ese contenido. Al publicar,
            garantizas que eres titular de los derechos del contenido o que cuentas con autorización para ello, y
            aceptas indemnizarnos ante cualquier reclamo derivado de tu contenido. No asumimos responsabilidad por
            contenido generado por usuarios o terceros.</p>

        <h2 class="subtitulo">10. Contacto y Reclamaciones</h2>
        <p class="parrafo-conditions">Para consultas o reclamaciones, puedes contactarnos a través de:</p>
        <ul class="lista-enlaces">
            <li>Correo electrónico: <a href="mailto:info@lavegatechgsrl.com" class="enlace">info@lavegatechgsrl.com</a>
            </li>
            <li>Teléfono: +1 (809) 277 2371</li>
            <li>Horario de atención: Lunes a Sábado, de 8:30 AM a 6:30 PM.</li>
        </ul>
        <p class="parrafo-conditions">Las reclamaciones formales se atenderán en un plazo máximo de 10 días hábiles.</p>

        <h2 class="subtitulo">11. Leyes Aplicables y Jurisdicción</h2>
        <p class="parrafo-conditions">Esta tienda opera bajo las leyes vigentes de República Dominicana. En caso de
            disputas, estas serán resueltas en los tribunales de La Vega, República Dominicana.</p>
    </section>

    <%- include('../../partials/footer.ejs') %>