<%- include('../../components/header.ejs') %>

</body>
  <div class="email-container">
    <h2>Ayuda con la contraseña</h2>
    <p>Escribe la dirección de correo electrónico asociada a tu cuenta.</p>

    <form method="POST" action="/api/auth/email">
      <input type="email" name="email" placeholder="ejemplo@gmail.com" required>
      <button type="submit">Continuar</button>
    </form>
  </div>

  <% if (error) { %>
    <p style="color:red"><%= error %></p>
    <% } %>

</body>

<%- include('../../components/footer.ejs') %>