<%- include('../../components/header.ejs') %>

</body>
  <div class="email-container">
    <h2>Ayuda con la contrase침a</h2>
    <p>Escribe la direcci칩n de correo electr칩nico asociada a tu cuenta.</p>

    <form method="POST" action="/api/auth/email">
      <input type="email" name="email" placeholder="Correo electr칩nico" required>
      <button type="submit">Continuar</button>
    </form>
  </div>

  <% if (error) { %>
    <p style="color:red"><%= error %></p>
    <% } %>

</body>

<%- include('../../components/footer.ejs') %>