<%- include('../../components/header.ejs') %>

<body>
  <div class="login-container">
  <h2>Crear nueva contraseña</h2>
  <p>Solicitaremos esta contraseña cada vez que inicies sesión.</p>

  <form method="POST" action="/api/auth/newPassword">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="password" name="password" placeholder="Nueva contraseña" required>
    <input type="password" name="confirm" placeholder="Vuelve a escribir la contraseña" required>
    <button type="submit">Guardar contraseña</button>
  </form>
</div>

  <% if (error) { %>
    <p style="color:red"><%= error %></p>
    <% } %>

  <%- include('../../components/footer.ejs') %>