<!DOCTYPE html>
<html lang="en">
    
<body>

    <!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							
							<ul class="newsletter-follow">
								<li>
									<a href="https://www.facebook.com/people/La-vega-tech/100090874159804/?locale=ca_ES">
                                        <i class="fa-brands fa-facebook-f"></i></a>
								</li>
								<li>
									<a href="https://www.instagram.com/lavegatechsrl/?hl=es">
                                        <i class="fa-brands fa-instagram"></i></a>
								</li>
								<li>
									<a href="https://api.whatsapp.com/send/?phone=18494065652&text&type=phone_number&app_absent=0">
										<i class="fa-brands fa-whatsapp"></i></a>
								</li>
                                <li>
									<a href="https://www.tiktok.com/@lavegatech">
                                        <i class="fa-brands fa-tiktok"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->
    
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Sobre nosotros</h3>
                            <p>En <strong>La Vega Tech</strong> queremos brindarte la mejor experiencia de compra. Si tienes alguna consulta sobre nuestros productos, pedidos o cualquier otro tema, no dudes en contactarnos.</p>
                            <ul class="footer-links">
                                <li><a href="https://maps.app.goo.gl/S85hspS9jMJGpPPt9"><i class="fa-solid fa-location-dot"></i></i>Calle Libertad, La Vega 41000</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+1 809-277-2371</a></li>
                                <li><i class="fa-solid fa-envelope"></i><a href="mailto:info@lavegatechgsrl.com" class="enlace">info@lavegatechgsrl.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categorías</h3>
                            <ul class="footer-links">
                                <li><a href="/store/1?&category=1">Móviles</a></li>
                                <li><a href="/store/1?&category=2">SmartTV</a></li>
                                <li><a href="/store/1?&category=3">Laptops</a></li>
                                <li><a href="/store/1?&category=4">Consolas</a></li>
                                <li><a href="/store/1?&category=5">Tablets</a></li>
                                <li><a href="/store/1?&category=6">Otros</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Información</h3>
                            <ul class="footer-links">
                                <li><a href="/about">Sobre nosotros</a></li>
                                <li><a href="/contact">Contactanos</a></li>
                                <li><a href="/conditions">Politicas y Condiciones</a></li>
                                <li><a href="/warranty">Garantías</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Servicios</h3>
                            <ul class="footer-links">
                                <li><a href="/cart">Ver Carrito</a></li>
                                <li><a href="/fav">Favoritos</a></li>
                                <li><a href="/account">Mi Cuenta</a></li>
                                <li><a href="/api/order/showOrders">Mis Pedidos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a><i class="fa-brands fa-cc-paypal"></i></a></li>
                            <li><a><i class="fa-brands fa-cc-visa"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <span id="year"></span> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
        <script>
            document.getElementById("year").innerText = new Date().getFullYear();
        </script>
        
        </footer>
        <!-- /FOOTER -->

        <!-- jQuery Plugins -->
        <script src="/js/store/libs/jquery.min.js"></script>
        <script src="/js/store/libs/bootstrap.min.js"></script>
        <script src="/js/store/libs/slick.min.js"></script>
        <script src="/js/store/libs/nouislider.min.js"></script>
        <script src="/js/store/libs/main.js" type="module"></script>
        <script src="/js/store/search.js"></script>
        <script src="/js/store/cart/cart.js" type="module"></script>
        <script src="/js/store/cart/cartPreview.js" type="module"></script>
        <script src="/js/store/fav/fav.js" type="module"></script>
        <script src="/js/utils/formatPrice.js"></script>

</body>
</html>