<%- include('../admin/dashboard.ejs') %>

<link rel="stylesheet" href="/css/vendor/toastify.css">
<link rel="stylesheet" href="/css/vendor/sweetalert2.min.css">
<link rel="stylesheet" href="/css/admin/table.css">
<link rel="stylesheet" href="/css/utils/state.css">
<link rel="stylesheet" href="/css/utils/error.css">
<link rel="stylesheet" href="/css/utils/sweetAlertAdmin.css">

<div class="main-content">
  <header class="header">
    <h1>Gestión de Administradores</h1>
  </header>

  <main class="main-content-area">
    <div class="card">
      <div class="card-header">
        <h2>Lista de Administradores</h2>
        <button id="addUserBtn" class="add-button">
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          Añadir Administrador
        </button>
      </div>
      <div class="table-container">
        <table class="product-table">
          <thead>
            <tr>
              <th style="width: 15%">ID</th>
              <th style="width: 20%">Nombre de Usuario</th>
              <th style="width: 20%">Rol</th>
              <th style="width: 20%">Fecha de Creación</th>
              <th style="width: 20%">Estado</th>
              <th style="width: 5%">Acciones</th>
            </tr>
          </thead>
          <tbody id="adminTableBody">
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

<div id="userModal" class="modal-overlay">
  <div class="modal-content">
    <h3 id="modalTitle" class="modal-title">Añadir Administrador</h3>
    <form id="userForm" class="modal-form">
      <input type="hidden" id="userId">
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username">
        <div class="error-text" data-error-for="username"></div>
      </div>
      <div class="form-group">
        <label for="password">
          Contraseña<span id="passwordOptionalLabel" style="font-weight: normal;"> (opcional)</span>:
        </label>
        <input type="password" id="password" name="password" required>
        <div class="error-text" data-error-for="password"></div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
        <div class="error-text" data-error-for="confirmPassword"></div>
      </div>
      <div class="form-group">
      <label for="rol">Rol:</label>
      <select id="rol" name="rol" required>
        <option value="">Selecciona el rol</option>
        <option value="superadmin">Superadmin</option>
        <option value="admin">Admin</option>
        <option value="editor">Editor</option>
        <option value="ventas">Ventas</option>
        <option value="transportista">Transportista</option>
      </select>
      <div class="error-text" data-error-for="rol"></div>
    </div>
      <div class="modal-buttons">
        <button type="button" id="cancelModalBtn" class="cancel-button">
          Cancelar
        </button>
        <button type="submit" class="save-button">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  const currentAdminId = <%= currentAdminId %>;
</script>
    
<script type="module" src="/js/admin/accounts/accountsAdmin.js"></script>
<script src="/js/vendor/sweetalert2.min.js"></script>
<script src="/js/vendor/toastify.js"></script>
