<%- include('../admin/dashboard.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="/css/admin/table.css">
    <link rel="stylesheet" href="/css/utils/documentStyles.css">

    <div class="main-content">
        <header class="header">
            <h1>Top Productos Más Vendidos</h1>
            <button id="btnVolver" class="add-button" style="margin-top:10px;">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    style="width:16px;height:16px;margin-right:5px;">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                </svg>
                Volver
            </button>
        </header>

        <main class="main-content-area">
            <div class="card">
                <div class="card-header">
                    <div class="search-container">
                        <input type="text" id="searchTopProductos" placeholder="Buscar productos..."
                            class="input-search"/>
                        <i class="fa fa-search search-icon"></i>
                    </div>
                </div>

                <div class="admin-filters">
                    <label>
                        <span style="font-weight: bold; font-size: 20px;">Top</span>:
                        <select id="limite-select">
                            <option value="">Todos</option>
                            <option value="5">Top 5</option>
                            <option value="10">Top 10</option>
                            <option value="20">Top 20</option>
                            <option value="30">Top 30</option>
                            <option value="40">Top 40</option>
                            <option value="50">Top 50</option>
                        </select>
                    </label>

                    <div class="filter-group">
                        <h4>Categorías</h4>
                        <% cantCategoria.forEach(c=> { %>
                            <label>
                                <input type="checkbox" name="categoria" value="<%= c.categoria_id %>">
                                <%= c.categoria %>
                            </label>
                            <% }) %>
                    </div>

                    <div class="filter-group marcas">
                        <h4>Marcas</h4>
                        <select id="selectMarcas" multiple></select>
                    </div>

                </div>

                <div class="container-report-pdf">
                    <div class="filtros-y-botones">
                        <div id="contenedorFiltrosFecha">
                            <h3 id="tituloTopProductos">Top productos</h3>
                        </div>
                        <div class="botones-reporte">
                            <button id="btnExcel" class="reporte-tipo no-in-pdf">
                                <i class="fas fa-file-excel"></i> Exportar Excel
                            </button>

                            <button id="btnDescargarPDF" class="reporte-tipo no-in-pdf" disabled>
                                <i class="fas fa-file-pdf"></i> Descargar PDF
                            </button>
                        </div>
                    </div>

                    <div class="container-report-pdf">

                        <div class="table-container table-responsive">
                            <table class="product-table" id="tablaTodosProductos">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th style="text-align:right">Cantidad</th>
                                        <th style="text-align:right">Ingresos</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
        </main>
    </div>
    
    <style>
        select,
        input[type="month"],
        input[type="date"],
        input[type="number"] {
            padding: 6px 12px;
            font-size: 16px;
            border: 2px solid #3498db;
            border-radius: 6px;
            color: #333;
            margin-right: 10px;
            vertical-align: middle;
            transition: border-color 0.3s ease, background-color 0.3s ease;
        }

        select:hover,
        input[type="month"]:hover,
        input[type="date"]:hover {
            border-color: #2980b9;
        }
        </style>

    <script>
        document.getElementById('btnVolver').addEventListener('click', () => {
            window.history.back();
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/js/admin/reports/topProducts.js"></script>
    <script src="/js/utils/formatPrice.js"></script>
    <script src="/js/utils/PDF.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>