<%- include('../admin/dashboard.ejs') %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="/css/sweetAlertAdmin.css">
<link rel="stylesheet" href="/css/toastify.css">
<link rel="stylesheet" href="/css/adminTable.css">

    <div class="main-content">
        <header class="header">
            <h1>Gestión de Productos</h1>
        </header>
        
        <main class="main-content-area">
            <div class="card">
                <div class="card-header">
                    <h2>Lista de Productos</h2>
                    <button id="addProductBtn" class="add-button">
                        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        Añadir Producto
                    </button>
                </div>

                <div class="table-container">
                    <table class="product-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Descuento</th>
                                <th>Categoría</th>
                                <th>Marca</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="productsTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <div id="productModal" class="modal-overlay">
        <div class="modal-content">
            <h3 id="modalTitle" class="modal-title">Añadir Nuevo Producto</h3>
            <form id="productForm">
                <input type="hidden" id="productId">
                <div class="form-group">
                    <label for="productName">Nombre del Producto:</label>
                    <input type="text" id="productoNombre" required>
                </div>
                <div class="form-group">
                    <label for="product">Descripción:</label>
                    <textarea id="productoDescripcion" required></textarea>
                </div>
                <div class="form-group">
                    <label for="productPrice">Precio:</label>
                    <input type="number" id="productoPrecio" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="productStock">Descuento:</label>
                    <input type="number" id="productoDescuento">
                </div>
                <div class="form-group">
                    <label for="productName">Categoría:</label>
                    <select id="productoCategoria"></select>
                </div>
                <div class="form-group">
                    <label for="productName">Marca:</label>
                    <select id="productoMarca">Marca</select>
                </div>
                <div class="form-group" id="fechaGroup" style="display: none;">
                    <label for="productoFecha">Fecha:</label>
                    <input type="datetime-local" id="productoFecha">
                </div>
                <div class="modal-buttons">
                    <button type="button" id="cancelModalBtn" class="cancel-button">
                        Cancelar
                    </button>
                    <button type="submit" class="save-button">
                        Guardar Producto
                    </button>
                </div>
            </form>
        </div>
    </div>

<script type="module" src="/js/adminProduct.js"></script>
<script src="/js/formatPrice.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/feather-icons"></script>