<%- include('../admin/dashboard.ejs') %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="/css/utils/toastify.css">
<link rel="stylesheet" href="/css/utils/sweetAlertAdmin.css">
<link rel="stylesheet" href="/css/admin/table.css">
<link rel="stylesheet" href="/css/utils/error.css">
<link rel="stylesheet" href="/css/utils/state.css">

    <div class="main-content">
        <header class="header">
            <h1>Gestión de Productos</h1>
        </header>
        
        <main class="main-content-area">
            <div class="card">
                <div class="card-header">
                    <h2>Lista de Productos</h2>
                    <div class="search-container">
                        <input type="text" id="searchProductInput" placeholder="Buscar productos..."
                            class="input-search"/><i class="fa fa-search search-icon"></i>
                    </div>
                    <button id="addProductBtn" class="add-button">
                        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        Añadir Producto
                    </button>
                </div>

                <div class="table-container">
                    <table class="product-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Categoría</th>
                                <th>Fecha De Creación</th>
                                <th>Estado</th>
                                <th style="width: 5%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="productsTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <div id="productModal" class="modal-overlay">
        <div class="modal-content">
            <h3 id="modalTitle" class="modal-title">Añadir Nuevo Producto</h3>
            <form id="productForm" class="modal-form">
                <input type="hidden" id="productId">
                <div class="form-group">
                    <label for="productName">Nombre del Producto:</label>
                    <input type="text" id="productoNombre" name="nombre">
                    <div class="error-text" data-error-for="nombre"></div>
                </div>
                <div class="form-group">
                    <label for="product">Descripción:</label>
                    <textarea id="productoDescripcion" name="descripcion"></textarea>
                    <div class="error-text" data-error-for="descripcion"></div>
                </div>
                <div class="form-group">
                    <label for="productPrice">Precio:</label>
                    <input type="number" id="productoPrecio" name="precio" step="0.01"  >
                    <div class="error-text" data-error-for="precio"></div>
                </div>
                <div class="form-group">
                    <label for="productStock">Impuesto:</label>
                    <input type="number" id="productoImpuesto" name="impuesto">
                    <div class="error-text" data-error-for="impuesto"></div>
                </div>
                <div class="form-group">
                    <label for="productStock">Descuento:</label>
                    <input type="number" id="productoDescuento" name="descuento">
                    <div class="error-text" data-error-for="descuento"></div>
                </div>
                <div class="form-group">
                    <label for="productName">Categoría:</label>
                    <select id="productoCategoria" name="categoria"></select>
                    <div class="error-text" data-error-for="categoria"></div>
                </div>
                <div class="form-group">
                    <label for="productName">Marca:</label>
                    <select id="productoMarca" name="marca">Marca</select>
                    <div class="error-text" data-error-for="marca"></div>
                </div>
                <div class="form-group">
                    <label for="productRam">Ram:</label>
                    <select id="productoRam" name="ram">Ram</select>
                    <div class="error-text" data-error-for="ram"></div>
                </div>
                <div class="form-group" id="AlmGroup">
                    <label for="productoAlm">Almacenamiento:</label>
                    <select id="productoAlm" name="almacenamiento">Almacenamiento</select>
                    <div class="error-text" data-error-for="almacenamiento"></div>
                </div>
                <div class="form-group" id="fechaGroup">
                    <label for="productoFecha">Fecha de Publicación:</label>
                    <input type="datetime-local" id="productoFecha" name="fecha_publicacion">
                    <div class="error-text" data-error-for="fecha_publicacion"></div>
                </div>
                <div class="modal-buttons">
                    <button type="button" id="cancelModalBtn" class="cancel-button">
                        Cancelar
                    </button>
                    <button type="submit" class="save-button">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
    window.ADMIN_ROLE = "<%= admin?.rol %>";
    </script>

<script type="module" src="/js/admin/products/products.js"></script>
<script src="/js/utils/formatPrice.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/feather-icons"></script>