<%- include('../partials/header.ejs') %>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- Open Banner -->
<section class="fondo-exitoso py-5">
    <div class="contenedor">
        <div class="fila align-items-center py-5">
            <div class="columna-texto text-dark">
                <h1 class="sobre-nosotros">Sobre Nosotros</h1>
                <p class="parrafo">
                    <img class="lavega" src="/img/lavegatech-logo.png" type="image/png"> es la tienda líder en tecnología, con productos de calidad 
                    y un excelente servicio al cliente. Llevamos años sirviendo a la comunidad de <strong>La Vega</strong>  con lo último en dispositivos electrónicos.
                </p>
            </div>
            <div class="columna-imagen">
                <img class="foto" src="/img/shop.png" alt="Sobre Nosotros">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
 
<!-- Start Section -->
<section class="contenedor-2 py-5">
    <div class="fila text-center pt-5 pb-3">
        <div class="columna-lg-6 m-auto">
            <h1 class="titulo">Nuestros Servicios</h1>
            <p class="parrafo">
                En <img class="lavega" src="/img/lavegatech-logo.png" type="image/png">, estamos comprometidos a ofrecerte una experiencia de compra superior con los siguientes servicios:
            </p>
        </div>
    </div>
    <div class="fila">

        <div class="columna-md-6 columna-lg-3 pb-5">
            <div class="h-100 py-5 icono-servicio sombra">
                <div class="h1 texto-exito text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Servicios de envíos</h2>
            </div>
        </div>

        <div class="columna-md-6 columna-lg-3 pb-5">
            <div class="h-100 py-5 icono-servicio sombra">
                <div class="h1 texto-exito text-center"><i class="fa fa-exchange"></i></div>
                <h2 class="h5 mt-4 text-center">Envío y devolución</h2>
            </div>
        </div>

        <div class="columna-md-6 columna-lg-3 pb-5">
            <div class="h-100 py-5 icono-servicio sombra">
                <div class="h1 texto-exito text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Descuentos</h2>
            </div>
        </div>

        <div class="columna-md-6 columna-lg-3 pb-5">
            <div class="h-100 py-5 icono-servicio sombra">
                <div class="h1 texto-exito text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">Servicio de 8 horas</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

  <!-- Start history -->
  <section class="bg-light py-5">
    <div class="container my-4">
        <!-- Encabezado -->
        <div class="fila text-center pt-5 pb-3">
            <div class="columna-lg-6 m-auto">
                <h1 class="titulo">Sobre nuestra empresa<img class="lavega" src="/img/lavegatech-logo.png" alt="La Vega Tech"></h1>
                <p class="parrafo">
                    <img class="lavega" src="/img/lavegatech-logo.png" alt="La Vega Tech"> es la tienda líder en tecnología, con productos de calidad 
                    y un excelente servicio al cliente. Llevamos años sirviendo a la comunidad de <strong>La Vega</strong> con lo último en dispositivos electrónicos.
                </p>
            </div>
        </div>

        <!-- Contenido de la historia -->
        <div class="contenido-historia">
            <div class="historia-imagen">
                <img src="/img/sobrenosotros1.png" alt="Imagen de La Vega Tech">
            </div>
            <div class="historia-texto">
                <h2>Conoce más sobre La Vega Tech.</h2>
                <p>
                    Nuestro compromiso con la excelencia nos ha permitido ofrecer resultados sobresalientes a nuestros clientes.
                    En <strong>La Vega Tech</strong>, nos enorgullecemos de ser mucho más que una simple tienda de tecnología, somos un centro de innovación
                    dedicado a ofrecer productos de vanguardia y un servicio al cliente excepcional.
                </p>
                <p>
                    Nuestro compromiso con la calidad y la excelencia nos ha posicionado como líderes en el sector, destacándonos por proporcionar
                    soluciones tecnológicas que realmente hacen la diferencia en la vida de nuestros clientes.
                </p>
                <p>
                    Desde el inicio, nuestra pasión por la innovación ha sido el motor que nos impulsa a estar siempre un paso adelante, adaptándonos
                    a las tendencias del mercado y superando las expectativas de quienes confían en nosotros.
                </p>
                <p>
                    Trabajamos arduamente para garantizar que cada cliente reciba no solo productos de alta calidad, sino también una experiencia de compra
                    que refleje profesionalismo, cercanía y atención personalizada.
                </p>
            </div>
        </div>

    </div>
</section>

<%- include('../partials/footer.ejs') %>

<!-- Incluir SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

</body>

</html>