<%- include('../../partials/header.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/utils/toastify.css">
    <link type="text/css" rel="stylesheet" href="/css/store/account.css"/>

    <body>
      <div class="contenedor-account">
        <div class="titulo-admin">
          <h1>Administrar Cuenta</h1>
        </div>
      </div>

      <div class="contenido-account">
        <div class="informacion">
          <label class="titulo-user">Nombre:</label>
          <span id="username">
            <%= user.username %>
          </span>
          <button class="editar" onclick="openModal('username')">Editar</button>
        </div>

        <div class="informacion">
          <label class="titulo-user">Correo:</label>
          <span id="email">
            <%= user.email %>
          </span>
          <button class="editar" onclick="openModal('email')">Editar</button>
        </div>

        <div class="informacion">
          <label class="titulo-user">Contraseña:</label>
          <span id="password">********</span>
          <button class="editar" onclick="openModal('password')">Editar</button>
        </div>
      </div>

      <!-- Modal -->
      <div id="modal" class="modal-container" style="display:none;">
        <div id="modal-content" class="modal-contenido">
          <h2 id="modal-title" class="modal-titulo"></h2>
          <div id="verification-message" class="verification-message" style="display:none;"></div>
          <form id="modal-form" class="modal-form"></form>

          <div class="contenedor-reenviar">
            <button class="reenviar modal-btn" id="resend-code-btn" style="display:none;" type="button">Reenviar
              Código</button>
          </div>

          <div class="contenedor-acciones">
            <button class="cancelar modal-btn" onclick="closeModal()">Cancelar</button>
            <button class="guardar modal-btn" id="submit-button" type="submit" form="modal-form">Enviar</button>
          </div>
        </div>
      </div>
    </body>

      <script src="/js/store/clients/userProfile.js" type="module"></script>
      <script src="/js/utils/showPass.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="https://unpkg.com/feather-icons"></script>

  <%- include('../../partials/footer.ejs') %>