.estado-btn {
  width: 70px;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.active-state {
  background-color: #4CAF50;
  color: white;
}

.inactive-state {
  background-color: #f44336;
  color: white;
}