<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login WiseTech</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/img/logowt.ico" type="image/x-icon">
</head>

<body>
    <section>
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="/img/lavegatech-logo.png" alt="">
            </a>
        </div>
        <div class="signin">
            <div class="content">
                <h2>Iniciar Sesión</h2>
                <div class="form">
                    <form action="/login" method="POST">
                        <div class="inputBox">
                            <input type="text" name="username" required>
                            <i>Usuario</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" required>
                            <i>Contraseña</i>
                        </div>
                        <div class="links">
                            <a href="#">¿Olvidaste tu cuenta?</a>
                            <a href="/register">Registrarse</a>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
</html>