<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseTech - Registro</title>
    <link rel="icon" href="/img/logowt.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <section>
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="/img/lavegatech-logo.png" alt="">
            </a>
        </div>
        <div class="signin">
            <div class="content">
                <h2>Registro</h2>
                <div class="form">
                    <div class="inputBox">
                        <input type="text" required>
                        <i>Nombre de Usuario</i>
                    </div>
                    <div class="inputBox">
                        <input type="email" required>
                        <i>Correo Electrónico</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required>
                        <i>Contraseña</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required>
                        <i>Confirmar Contraseña</i>
                    </div>
                    <div class="links">
                        <a href="/login">¿Ya tienes una cuenta?</a>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Registrarse">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>