<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LaVegaTech</title>
  <link rel="icon" type="image/png" href="/img/lavegatech-logo.png">  
  <link type="text/css" rel="stylesheet" href="/css/login.css" />
</head>
<body>

  <div class="logo-container">
    <a href="/" class="logo"><img src="/img/lavegatech-logo.png" alt=""></a>
</div>

<div class="login-container">
  <h2>Crear cuenta</h2>

  <form action="/api/auth/register" method="POST">
    <label>Nombre de usuario:</label>
    <input type="text" name="username" value="<%= username || '' %>" required>

    <label>Correo electrónico:</label>
    <input type="email" name="email" value="<%= email || '' %>" required>

    <label>Contraseña:</label>
    <input type="password" name="password" required>
    
    <label>Confirmar contraseña:</label>
    <input type="password" name="confirmPassword" required>

    <button type="submit">Registrarse</button>
  </form>

  <% if (error) { %>
    <p style="color:red"><%= error %></p>
  <% } %>

  <div class="links">
  <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
</div>

</body>
</html>