<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LaVegaTech</title>
  <link rel="icon" type="image/png" href="/img/lavegatech-logo.png">  
  <link type="text/css" rel="stylesheet" href="/css/login.css" />
</head>

<body>

  <div class="logo-container">
    <a href="/" class="logo"><img src="/img/lavegatech-logo.png" alt=""></a>
</div>

  <div class="login-container">
  <h2>Verifica tu correo</h2>

  <p class="text">Hemos enviado un c贸digo a tu correo.</p>

  <form method="POST" action="/api/auth/verifyCode">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="type" value="verify">
    <input type="text" name="code" placeholder="C贸digo de verificaci贸n" required>
    <button type="submit">Verificar</button>
  </form>

  <form method="POST" action="/api/auth/resendCode">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="type" value="verify">
    <button type="submit">Reenviar c贸digo</button>
  </form>
</div>
    
  <% if (error) { %>
    <p style="color:red"><%= error %></p>
  <% } %>

</body>

</html>