<footer class="footer">
  <div class="section"></div>
  <p>&copy; 2025 LavegaTech | <a href="/terms">Términos y Condiciones</a> | <a href="/privacy">Política de Privacidad</a> | <a href="/privacy">Ayuda</a></p>
</footer>