<footer class="footer">
  <div class="section"></div>
  <p>&copy; 2025 LaVegaTech | <a href="/conditions" target="_blank">Políticas y Condiciones</a> | <a href="/warranty" target="_blank">Garantías</a></p>
</footer>

<script src="/js/utils/cleanFormError.js"></script>
<script src="/js/utils/showPass.js"></script>